<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PinkkStore Login</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container">

    <h1>Please Log In</h1>

    <div class="card">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-field">
                <label for="username">Username</label>
                <input class="input-field" id="username" type="text" name="username"/>
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input class="input-field" id="password" type="password" name="password"/>
            </div>
            <input class="input-btn" type="submit" value="Log in"/>
        </form>
    </div>


    <div class="register-info">
        <p>Don't have an account? </p>
        <p>Please
            <a th:href="@{/register}">register</a> as a new user.
        </p>
    </div>

</div>
</body>
</html>